body {
    padding: 70px 0;
    background-color: #D5E1EF;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

div {
    margin: auto;
    width: 440px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
}

img {
    display: flex;
    width: 400px;
    margin: auto;
    border-radius: 12px;
}

h1 {
    color: hsl(218, 44%, 22%);
    margin-left: 30px;
    margin-right: 30px;
    font-size: 32px;
    font-weight: 700;
}

p {
    color: hsl(220, 15%, 55%);
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {

    body {
        padding: 35px 0;
    }

    div {
        width: 350px;
        margin: auto;
    }

    img {
        width: 310px;
        margin: auto;

    }

    h1 {
        padding-top: 20px;
        width: 290px;
        margin: auto;
        font-size: 26px;
    }

    p {
        font-size: 18px;
    }
}